/*
* Archive
* ========================================================================== */
.year {
  padding: 0;
  list-style: none;
}

.year li {
  padding: 5px;
  padding: 8px 10px;
  border-bottom: 1px dotted #eae4da
}

.date {
  text-align: right;
  float: right;
}