---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include nav.html %}

  	<section class="page-content">
  	  <div class="container">
        <div class="row mb-3">
          <div class="col-lg-8 mx-auto">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3 text-center">{{ page.title | escape }}</h1>

            {% include breadcrumbs.html %}

            {{ content }}

           </div>
         </div>
  	  </div>
  	  <!-- /.container -->
    </section>

  	{% include footer.html %}

  </body>
</html>
