---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

  	{% include nav.html %}

  	<section class="page-content bg-light text-center">
  	  <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">{{ page.title | escape }}</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item"><a href="/blog">Блог</a></li>
        <li class="breadcrumb-item active">{{ page.crawlertitle }}</li>
      </ol>

	  <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8 text-justify">

        <!-- Preview Image -->
        <img class="blog-img rounded" width="900" height="300" src="/assets/images/{{ page.bg }}" alt="">

        <hr>

        <!-- Date/Time -->
        <p class="text-center">{{ page.date }}</p>

        <hr>

        <!-- Post Content -->
		
	      {{ content }}
    
	      <hr>
      </div>

        <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">О чем</h5>
          <div class="card-body">{{ page.summary }}</div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container --> 

	</section>

  	{% include footer.html %}

  </body>
</html>